.button{
    background-color: white; /* Green */
    border: none;
    color: blue;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}